* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-one {
    display: flex; 
    background: linear-gradient(#2e0d0d, #9198e5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.body-two {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    background-color: rgb(80, 20, 20);
}

.image-two {
    background-image: url("dicaprio2.png");
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100px;
    border: 15px solid rgb(117, 42, 42);
    align-self: center;
    max-width: 100%;
    max-height: auto;
}


.text-left {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    background-color: rgba(57, 45, 170, 0.3);
    border-radius: 15px;
    border: 2px solid turquoise;
    padding: 5px;
    margin: 5px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.image-one {
    background-image: url("dicaprio.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    border-radius: 15px;
    border: 3px solid #9198e5;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

p {
    text-align: justify;
    padding: 8px;
}

.centered {
    align-self: center;    
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    align-self: center;
}

.text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    text-align: end;
}

a {
    text-decoration: none;
    font-size: 140%;
    color: lightgreen;
}