* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-one {
    display: flex;
    background-image: url("dicaprio.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.body-two {
    background-image: url("dicaprio2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.text-left, 
.text-right {
    display: flex;
    margin-left: 3rem;
}

.text-left {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    max-width: 35%;
    background-color: rgba(57, 45, 170, 0.3);
    border-radius: 15px;
    margin-top: 5rem;
    padding: 0.3rem;
}

.centered {
    align-self: center;    
}

h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-right {
    font-size: 140%;
    color: white;
    background-color: rgba (255, 255 ,255 0.5);
}

a {
    text-decoration: none;
    font-size: 140%;
    color: lightgreen;
}